useDynLib(BCRANK)
import(methods)
importFrom(Biostrings,readDNAStringSet)
importFrom(graphics,plot)

exportClasses(BCRANKmatch,
              BCRANKsearch,
              BCRANKresult)

export(bcrank,
       matchingSites)

exportMethods(show,
              toptable,
              fname,
              searchPath,
              pwm,
              plot,
              bcrankScore,
              consensus,
              matchVector)
